body {
    background: red;
    color: black;
}
body {
       margin: 0
        }

        ul {
            margin: 0;
            padding: 0;
            width: 25%;
            background-color: #081e8a;
            position: fixed;
            height: 100%;
            overflow: auto;
            list-style-type: none;
        }

        li a {
            display: block;
            color: white;
            padding: 8px 16px;
            text-decoration: none;
        }

        li a.active {
            background-color: lightslategray;
            color: white;
        }

        li a:hover:not(.active) {
            background-color: lightslategray;
            color: white;
        }

        .patty-bucket-div {

            margin-left: 25%;
            height: 1500px;
            padding: 1px 16px;
        }

/* lines 1-4: sets the background color of the site screen and the text/heading color to whatever is inputted. in this case I chose black text and a red background. I put this on top so that I'll serve as a default to all the code colors unless i make arrangements which I will.*/
/* lines 5-7: NOTE THE INDENT!!! margin essentially means how far out the text will be from one side of the screen. I have this set to zero because I want the text to be defaulted to be all the way to the standard top left position of the screen*/
/* lines 9-18: the ul section fo this code allows me to make accommodations to the structure of the side bar that I'm about to make. margin and padding are 0 (the padding is how much space you are giving a particular item from the initial margin, since this is at xero as well as the margin, the large square of space that will be designated to the side bar will be all the way to the left. width is 25% (of the screen). background color i picked a specific shade of dark blue (#081e8a) by using a "hex color picker" on google. once you pick the color, you can copy the hex code and paste it to have your specific color of choosing in any particular part (whether it be text color, background color, any format of coloring). list-position is fixed, meaning no matter if you scroll or not (if there is an overflow of content, the side bar will stay as it is even where you scroll). to ensure this we set the height to 100% so that the section dedicated to the sidebar is completely covering the screen, not just as a partial block. overflow is set to auto, meaning if there was more content in which you needed to scroll down, ytou would be able to , and the scroll bar would automatically scroll just to the bottom or far side of where all the content could be viewed. List-style-type is set to none, meaning the font or the type of list will not be changed (like no numbered or bulleted lists or changes in font). BEFORE MOVING ONTO THE NEXT PART YOU MUST ADD A SEMI-COLON! */
/* lines 20-25: li.a are the actual blocks that will be used to divide my links to different pages of my site through blocks (display: block). the color is set to white, meaning the text within the blocks will be white. the padding here I have set as 8 pixels by 16 pixels, meaning every box is separated vertically 8 pixels and horizontally 16 pixels. Text decoration is set to none, meaning there will be no form of lines or those kinds of specs appearing on the side bar.   */
/* lines 27-35: li a.active and li a:hover:not(.active) are both needed to simulate the color changing animation of hovering over the block of the links to the site. both the background color and the text color are set the same so that the hovering color change can occur. if you don't have the not(.active), then the animation won't happen at all.  */
/* lines 37-42: patty-bucket-div is the set of dimensions  where the html text will be placed. you can either use margin-left 25% or margin-right 75%, both would result in the same thing. the height I set as 1500 pixels so that it would be an ideal height and that you wouldn't have a scroll bar set. and evejn if there was more content to add, the overflow auto section of the ul section of code would allow me to make my content scrollable if there were more added sometime in the future. these dimensions will be set to each of the html documents to ensure that all the text is slid over to the right 75% of the screen so that it is all seen. */