<html>
<head>
    <link rel="stylesheet" href ='/static/style.css' />
</head>
<body>
<ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a class="" href="/instagram">Instagram</a>
        </li>
        <li>
            <a class="" href="/youtube">Youtube</a>
        </li>
        <li>
            <a class="" href="/xbox">Xbox</a>
        </li>
        <li>
            <a class="" href="/twitch">Twitch</a>
        </li>
    </ul>
    <div class="patty-bucket-div">
        <h1>Welcome to PATTY B CENTRAL!!!</h1>
        <h2>Below are some information links regarding where my awesome content can be found! Check them out below.</h2>
        <h3>As you can see, still a work in progress.</h3>
    </div>
</body>
</html>

<!-- I'm going to only do comments on this index html because it is the identical layout for the other links to the site. html is like a coding sandwich: whatever you code in, needs and end code as well. for example, if you put in <html>, then you need </html> after that. these are on the first and last lines, but this also applies for body texts, headers within those texts (h1, h2, h3, etc [the only differenc ewith these is that the <h#> and </h#> are on the same line) -->
<!-- the <ul></ul> piece within the body is a reference to the other html links (in this case <a classes> that are within the vertical dropdown bar that we built using the css. we use the <a href="">(name of item on bar)</a> feature to distinguish all the different links that can be accessed from the sidebar. you need this exact setup on all the other html links in order to insure that the sidebar is visible and usable for any link you press. note each of these a classes are being seperated by using <li></li>, which is the specific formating required to distinguish these classes and make them usable in the running code.-->
<!-- the last piece with the <div></div> includes the headers/text of the particular page, but in order to ensure all the text is visible, you need to start by reintroducing the class "paaty-bucket-div"> that was created in the css to allow all the text to be on the right 75% of the screen. if this were not introduced before the headings, then a quarter of the text will be covered by the fixed sidebar. you must make sure the h's are indented so that each size text is abiding to these dimensions that we have made on the css. -->
<!-- another crucial note is the <link rel="stylesheet" href ='/static/style.css' /> piece. this is crucually needed because this links to all the css static data that allows for the sidebar to appear and have it's functions. the rel=stylesheet part of it gives the role of the css and what it needs to do. this <link> divider is a shortcut that allows us to take all the static data and send it all to each html file instead of copying all the code down, just complicates it less. -->
