<html>
<body>
<h1>Hello {{ Patty }}!</h1>
<h2>I'm a current senior at Boston College High School in Dorchester, MA. This site was created specifically for getting an A in my comp sci project, but I'm hoping even after I pass in my final code for this project, I can continue to work on this site and upload even more dynamic content that will make this site even more interesting! By exploring the other links on this site you can discover more about my life through these different paths of communication  </h2>
</body>
</html>