<html>
<head>
    <link rel="stylesheet" href ='/static/style.css' />
</head>
<body>
<ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a class="" href="/instagram">Instagram</a>
        </li>
        <li>
            <a class="" href="/youtube">Youtube</a>
        </li>
        <li>
            <a class="" href="/xbox">Xbox</a>
        </li>
        <li>
            <a class="" href="/twitch">Twitch</a>
        </li>
    </ul>
    <div class="patty-bucket-div">
        <h1>WITNESS THE GREATNESS OF PATTY B, THE GAMER!!!</h1>
        <h2>My gamer tag is @pbucks1624. if you would like to play xbox/pc games and get a chance to stream with your boy, just let me know in the party chats!</h2>
    </div>
</body>
</html>
